<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
</head>

<body style="box-sizing: border-box;padding: 2pt;margin: 0;font-family: Arial, Helvetica, sans-serif;">
  
  <div class="header" style="padding: 15pt 0 70pt 15pt;">
    <div class="image-header">
      <img src="./assets/zanc-logo.png" alt="zanc" title="zanc" style="width: 100pt;">
    </div>
  </div>
  <div class="container">
    <div class="container-header">
      <div class="card-header" style="padding: 20pt 0 20pt 40pt;width: 400pt;border-radius: 0 10pt 10pt 0;background-color: #FF5902;">
        <h4 class="txt-name" style="font-size: 18pt;color: #FFF800;font-weight: bold;">Prezado(a) {{collaborator}}</h4>
        <p class="txt-cpf" style="font-size: 18pt;color: #FFF;">CPF: <span style="font-weight: bold;">{{cpf}}</span></p>
      </div>

      <div class="container-body">
        <div class="container-aviso" style="text-align: start;padding: 40pt;margin: 0 20pt 0 20pt;">
          <h2 style="font-weight: 500;font-size: 16pt;">Lembramos que a parcela do seu acordo foi enviada pelo Banco Itaú</h2>
          <h2 style="font-weight: 500;font-size: 16pt;">Solicitamos que regularize urgentemente esta situação, evitando assim, a quebra do acordo.</h2>
        </div>
        <div class="container-card" style="border-radius: 10pt;border: 1px solid #FF5902;padding: 20pt;margin: 0 20pt 40pt 20pt;">
          <p style="font-weight: bold;color: #FF5902;margin: 0;font-size: 18pt;">Caso não tenha recebido o boleto, entre em contato:</p>
          <p style="font-weight: bold;color: #FF5902;margin: 0;font-size: 16pt;">Whatsapp: <span style="color: #000;">(11) 98963-1138</span></p>
          <p style="font-weight: bold;color: #FF5902;margin: 0;">Horário: <span style="color: #000;">Segunda à sexta-feira, das 8:00 às 20:40</span></p>
        </div>
      </div>

      <div class="container-footer">
        <div class="card-container-footer" style="border-left-style: dotted;border-color: #D7D4D2;padding: 10pt;margin: 0 0 30pt 50pt;min-width: 200pt;">
          <p style="font-weight: 500;color: #362b2b;"><span class="d" style="font-size: 15pt;color: #FF5902;font-weight: bold;">;D</span> <span class="atenciosamente" style="font-size: 15pt;color: #011D78;font-weight: bold;">Atenciosamente,</span></p>
          <p class="assessoria" style="font-weight: 500;color: #686868;font-size: 15pt;">Zanc Assessoria</p>
          <p style="font-weight: 500;color: #362b2b;">Contato: 0800 729 0307 ou 0800 729 0306</p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer" style="background-color: #000080;color: #FFF;padding: 20pt;font-size: 13pt;border-top: 5px solid #FFA500;">
    <p>Caso haja alguma divergência nos dados, ou ainda, já tenha quitado essa pendência, favor desconsiderar.
      O(s) apontamento(s) cadastral(ais) referente(s) ao(s) contrato(s) mensionado(s), se houver, será(ão) retirado(s)
      em até 5 dias úteis após o pagamento.
    </p>
  </div>
</body>

</html>